.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

.product-img {
    width: 100%;
    border-radius: 6px;
}

.product-info {
    margin-top: 8px;
}

.price {
    font-weight: bold;
    color: #000;
}