.static-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

.static-page h1 {
  font-size: 2.5rem;
  color: #222; 
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.static-page p {
    margin-bottom: 15px;
    font-size: 1rem;
}

.static-page ul {
    list-style-type: disc;
    margin-left: 0px;
    padding-left: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.static-page li {
    margin-bottom: 8px;
}

.static-page li strong {
    color: #000;
}